.gradle/
serviceDB/
apacheDB/
.idea/
out/
classes/
build/
derby.log
*.class
*.lock
*.iml
.DS_Store
newEdgeFile.csv
newNodeFile.csv
*.orig
server/node_modules/
csv/mergedEdges_edited.csv
csv/mergedNodes_edited.csv
csv/users_edited.csv
csv/newNodeFile.csv
csv/newUsersFile.csv
edit_edges.csv
edit_nodes.csv
EmployeesAPI.csv
InventoryTableAPI.csv
RequestsAPI.csv
RequestTableAPI.csv
UserAccountTableAPI.csv
