.gradle/
apacheDB/
.idea/
out/
classes/
build/
derby.log
*.class
*.lock
*.iml
.DS_Store
newEdgeFile.csv
newNodeFile.csv
*.orig
server/npm_modules/
csv/mergedEdges_edited.csv
csv/mergedNodes_edited.csv
csv/users_edited.csv
csv/newNodeFile.csv
csv/newUsersFile.csv