<html>
<head>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/swiped.min.js"></script>

  <style>
    body, html {
        margin: 0;
        padding: 0;
        font-size: 20px;
        font-family: Arial;
        text-align: center;
        vertical-align: middle;
    }
    .wrapper {
        overflow: hidden;
        padding: 10px;
    }
  </style>
</head>
<body>
  <div class="wrapper">
    <%- path %>
  </div>

</body>
</html>
